server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
        - id: payment-service
          uri: http://localhost:8082
          predicates:
            - Path=/payments/**
          filters:
            - name: JwtAuthFilter
        - id: payment-docs
          uri: http://localhost:8082
          predicates:
            - Path=/payment-docs/**
          filters:
            - RewritePath=/payment-docs/(?<path>.*), /\${path}

jwt:
  secret: ${JWT_SECRET}
