server:
  port: 8082

spring:
  datasource:
    url: jdbc:h2:file:${PAYMENT_DB_PATH};DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    addresses: ${RABBITMQ_URL}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
