<header class="main-header">
  <div class="logo">Origem Pay</div>
  <button class="btn-logout" routerLink="/dashboard">Voltar</button>
</header>

<main class="content-wrapper">
  <div class="list-container">
    <div class="list-header">
      <h2>Histórico de Pagamentos</h2>
      <button class="btn-primary-sm" routerLink="/payments/new">+ Novo Pagamento</button>
    </div>

    <div class="table-card">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of service.payments()">
            <td>{{ p.descricao }}</td>
            <td>{{ p.valor | currency:'BRL' }}</td>
            <td>
              <span class="badge" [ngClass]="p.valor > 0 ? 'success' : 'warning'">
                Ativo
              </span>
            </td>
            <td class="text-center">
              <button class="btn-outline-edit">Visualizar</button>
            </td>
          </tr>
          
          <tr *ngIf="service.payments().length === 0">
            <td colspan="4" style="text-align: center; padding: 20px;">
              Nenhum pagamento encontrado no banco de dados.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
